* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-panel {
  flex: 1;
  background-color: #5293c4;
  color: white;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 50px;
  font-weight: 700;
  font-size: 36px;
  font-family: "Teko";
}

.logo a {
  color: black;
  text-decoration: none;
}

.tagline {
  position: absolute;
  top: 65px;
  left: 50px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  transform: translateX(10);
  font-family: "Roboto";
}

.illustration {
  width: 70%;
  margin-top: 30px;
}

.right-panel {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Teko";
  font-size: 36px;
}

.login-box label {
  font-family: "Roboto";
}

.input-group {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.input-group i {
  margin-right: 10px;
  color: #666;
}

.input-group input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-family: "Roboto";
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Roboto";
}

.signup {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  font-family: "Roboto";
}

.signup a {
  color: #007bff;
  text-decoration: none;
  font-family: "Roboto";
}
