/* desktop */
@media (max-width: 1920px) {
  #about .container .left {
    padding-left: 130px;
  }
}

@media (max-width: 1440px) {
  #about .container .left {
    padding-left: 0px;
  }

  #join {
    height: 550px;
  }
}

@media (max-width: 1265px) {
  #hero {
    padding-top: 30px;
  }

  #hero .container .background img {
    width: 70%;
    border-radius: 40px;
  }

  #hero .container .content h1 {
    font-size: 45px;
  }

  #hero .container .content p {
    font-size: 16px;
  }

  #bitbelajar .card {
    height: 585px;
  }

  #bitbelajar .card .card-left {
    width: 320px;
    height: 285px;
  }

  #bitbelajar .card .card-img img {
    width: 350px;
  }

  #bitbelajar .card .card-right {
    height: 285px;
  }
  #join .container h1 {
    font-size: 50px;
  }
}

/* tablet */
@media (max-width: 1024px) {
  .navbar {
    position: sticky;
  }

  .navbar .container {
    padding: 20px 30px;
  }
  .navbar .container .logo {
    font-size: 35px;
    z-index: 2000;
  }
  .navbar .container .navbar-menu {
    flex-direction: column;
    justify-content: center;
    gap: 1.7rem;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }
  .navbar .container .navbar-menu.active {
    transform: translateY(0%);
  }

  .navbar .container .navbar-toggle {
    display: block;
    z-index: 999;
  }

  .navbar .container .navbar-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }

  .navbar .container ul li::after {
    content: none;
  }

  .navbar .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar .container .button-header {
    display: none;
  }

  /* ===================== Hero */

  #hero {
    padding-top: 30px;
  }

  #hero .container .background img {
    width: 100%;
    border-radius: 40px;
  }

  #hero .container .content {
    padding-top: 60px;
  }

  #hero .container .content h1 {
    font-size: 50px;
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  #hero .container .content p {
    font-size: 16px;
  }

  #hero .container .mouse-scroll {
    margin-top: 20px;
  }

  /* ================== Bitbelajar */

  #bitbelajar {
    padding: 90px 0px 0px 0px;
  }

  #bitbelajar .container {
    padding: 15px 25px;
  }

  #bitbelajar .container .card-content svg {
    width: 40px;
    height: 40px;
  }

  #bitbelajar .container .card-content h2 {
    font-size: 20px;
  }

  #bitbelajar .container .card-content p {
    font-size: 14px;
  }

  #bitbelajar .container .card {
    height: 495px;
  }
  #bitbelajar .container .card-left,
  #bitbelajar .container .card-right {
    height: 240px;
  }

  #bitbelajar .container .card:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #bitbelajar .container .card-img img {
    width: 265px;
  }

  /* ================= Feature */
  #feature {
    margin: 0px;
    padding: 80px 0px 0px 0px;
  }

  #feature .container {
    padding: 15px 30px;
  }

  #feature .container .content-feature img {
    width: 100%;
  }

  #feature .container .content-card ul {
    width: 440px;
  }

  #feature .container .content-card .forum {
    width: 120px;
    height: 120px;
    transform: translateY(0px);
  }

  #feature .container .content-card .skill {
    width: 165px;
    height: 90px;
    transform: translateY(15px);
  }

  #feature .container .content-card .badge {
    width: 215px;
    height: 90px;
  }

  #feature .container .content-card .share {
    width: 115px;
    height: 115px;
  }

  #feature .container .content-card .learn {
    width: 110px;
    height: 115px;
    transform: translate(-8px, -18px);
  }

  #feature .container .content-card .forum svg,
  #feature .container .content-card .skill svg,
  #feature .container .content-card .badge svg,
  #feature .container .content-card .share svg,
  #feature .container .content-card .learn svg {
    width: 25px;
    height: 25px;
  }

  #feature .container .content-card .forum h3,
  #feature .container .content-card .skill h3,
  #feature .container .content-card .badge h3,
  #feature .container .content-card .share h3,
  #feature .container .content-card .learn h3 {
    font-size: 12px;
  }

  /* ========== Join */
  #join {
    height: 600px;
  }
  #join .container {
    padding: 15px 30px;
    height: 500px;
  }

  /* ============= About */
  #about {
    margin: 0px;
    padding: 80px 0px 0px 0px;
  }

  #about .container {
    padding: 15px 30px;
    justify-content: center;
  }

  #about .container .left {
    width: 100%;
    height: 170px;
    padding-left: 50px;
  }

  #about .container .title {
    padding: 0px 30px;
    width: 100%;
  }

  #about .container .title h1 {
    text-align: end;
  }

  #about .container .profile {
    width: 80%;
  }

  #about .container .card-profile {
    padding: 10px;
  }

  #about .container .card-profile {
    padding: 10px;
  }

  #about .container .card-profile::nth-child(2) .card-text {
    padding: 5px 10px 20px 10px;
  }

  #about .container .team {
    width: 100%;
    padding: 0px 0px 50px 0px;
  }

  #about .container .team h1 {
    letter-spacing: 50px;
    width: 100%;
    text-align: center;
  }

  #about .container .team p {
    letter-spacing: 10px;
    line-height: 30px;
    text-align: center;
    width: 100%;
  }

  /* =========== Contact */
  #contact {
    padding: 80px 0px 100px 0px;
  }

  #contact .container {
    padding: 0px 30px;
  }

  #contact .our-contact {
    gap: 40px;
    transform: translateY(135px);
  }

  /* ================ Footer */
  footer .sub-our .btn-sub form {
    width: 410px;
  }

  footer .sub-our .btn-sub form button {
    padding: 10px 25px;
    font-size: 20px;
    bottom: 0;
  }

  footer .social-media {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* phone */
@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    position: sticky;
  }

  .navbar .container {
    width: 100%;
    padding: 20px;
  }

  .navbar .container .logo {
    font-size: 30px;
    z-index: 2000;
  }

  .navbar .container .navbar-menu {
    flex-direction: column;
    justify-content: center;
    gap: 1.7rem;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }

  .navbar .container ul li::after {
    content: none;
  }

  .navbar .container .navbar-menu.active {
    transform: translateY(0%);
  }

  .navbar .container .navbar-toggle {
    display: block;
    z-index: 999;
  }

  .navbar .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar .container .button-header {
    display: none;
  }

  /* ---------------- Hero ---------------- */

  #hero .container {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  #hero .container .background {
    margin-top: 80px;
  }

  #hero .container .background img {
    width: 90%;
    border-radius: 30px;
  }

  #hero .container .content h1 {
    font-family: var(--font-family-1);
    font-size: 40px;
    font-weight: var(--font-weight);
    text-align: center;
    text-transform: capitalize;
  }

  #hero .container .content p {
    width: 80%;
    font-family: var(--font-family-1);
    font-size: var(--font-size-h3);
    font-size: 16px;
    text-align: center;
  }

  #hero .mouse-scroll {
    margin-top: 80px;
  }

  /* ---------- BitBelajar ---------- */

  #bitbelajar {
    width: 100%;
    margin-bottom: 50px;
    padding: 100px 0px;
  }

  #bitbelajar .container {
    width: 100%;
    padding: 0px 20px;
  }

  #bitbelajar .button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }

  #bitbelajar .btn {
    padding: 7px 15px;
    border-radius: 15px;
    font-family: var(--font-family-2);
    font-size: 20px;
    cursor: pointer;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
  }

  #bitbelajar .join {
    color: var(--text-color-white);
    border: 3px solid #000;
  }

  #bitbelajar .card-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  #bitbelajar .card-container .card-img {
    overflow: hidden;
  }

  #bitbelajar .card {
    width: 100%;
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: space-between;
  }

  /* =============== Feature */
  #feature {
    width: 100%;
    margin-top: 50px;
    padding: 100px 0px;
  }

  #feature .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
  }

  #feature .container .title h1 {
    font-size: 30px;
  }

  #feature .content-feature {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  #feature .content-feature img {
    width: 1000px;
    height: 500px;
    overflow: hidden;
  }

  #feature .content-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #feature .content-card ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 400px;
    flex-wrap: wrap;
  }

  #feature .content-card .card {
    list-style: none;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
    border: 2px solid #000;
  }

  #feature .content-card .forum {
    width: 100px;
    height: 120px;
  }

  #feature .content-card .skill {
    width: 150px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(20px);
  }

  #feature .content-card .badge {
    width: 250px;
    height: 90px;
    display: flex;
    flex-direction: row;
    transform: translateY(-10px);
  }

  #feature .content-card .forum h3,
  #feature .content-card .skill h3,
  #feature .content-card .badge h3,
  #feature .content-card .share h3,
  #feature .content-card .learn h3 {
    font-size: 12px;
  }

  #feature .content-card .share {
    width: 100px;
    height: 120px;
  }

  #feature .content-card .learn {
    width: 120px;
    height: 100px;
    transform: translateY(-20px);
  }

  /* =========== Join */
  #join {
    height: 500px;
  }

  #join .container {
    padding: 0px 30px;
    max-height: 450px;
  }

  #join .container h1 {
    font-size: 25px;
  }

  #join .container h1 span {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }

  #join .container p {
    font-family: var(--font-family-1);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0px;
  }

  #join .container a {
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: 700;
  }

  /* =========== About */
  #about {
    padding-bottom: 0;
    margin: 50px 0px 0px 0px;
  }
  #about .container {
    padding: 0px 30px;
    overflow: auto;
  }

  #about .left {
    width: 100%;
    padding-left: 0px;
  }

  #about .title {
    width: 100%;
    align-items: end;
    padding-left: 0px;
  }

  #about .title h1 {
    font-size: 70px;
  }

  #about .title p {
    font-size: 15px;
    width: 100%;
  }

  #about .container .profile {
    min-width: max-content;
    justify-content: start;
  }

  #about .card-profile {
    width: 240px;
    padding: 10px;
  }

  #about .card-img {
    width: 100%;
  }

  #about .card-text h2,
  #about .card-text p {
    font-size: 16px;
  }

  #about .card-text svg {
    font-size: 10px;
  }

  #about .team {
    padding: 50px 0px;
    width: 100%;
    line-height: 5px;
  }

  #about .team h1 {
    font-size: 70px;
  }

  /* ============== contact */

  #contact .container {
    padding: 0px 30px;
  }

  #contact .contact-content {
    width: 100%;
    gap: 60px;
  }

  #contact .contact-left {
    width: 100%;
    gap: 30px;
  }

  #contact .sub-title {
    border-radius: 10px;
  }

  #contact .title-left {
    width: 90%;
  }

  #contact .contact-right {
    width: 100%;
  }

  #contact .contact-right form {
    width: 100%;
    border-radius: 10px;
  }

  #contact .contact-right form ul li textarea {
    width: 100%;
    border-radius: 5px;
  }

  #contact .our-contact {
    position: static;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transform: translateY(0px);
  }

  #contact .our-contact .kotak {
    width: 70%;
  }

  /* =============== Footer */

  footer .sub-our {
    flex-direction: column;
    gap: 50px;
  }

  footer .sub-title-join h2 {
    line-height: 40px;
  }

  footer .btn-sub {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  footer .btn-sub form {
    width: 400px;
  }

  footer .btn-sub form button {
    font-size: 20px;
    padding: 9px 40px;
  }
}
