* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}

.signup-section {
  width: 50%;
  height: 100%;
  background-color: #fff;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

.brand h2 a {
  font-size: 20px;
  font-weight: bold;
  font-family: "Teko";
  text-decoration: none;
  color: #000;
}

.brand p {
  font-size: 14px;
  color: #333;
  margin-bottom: 40px;
  font-family: "Roboto";
}

.form-container h3 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto";
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 80%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: "Roboto";
}

.terms {
  font-size: 13px;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 15px;
  font-family: "Roboto";
}

form button {
  width: 70%;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.info-section {
  width: 50%;
  height: 100%;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Roboto";
}

.info-section img {
  max-width: 250px;
  margin: 20px auto;
}

.info-section p {
  font-size: 16px;
  font-family: "Roboto";
}

@media (max-width: 1024px) {
  .signup-section {
    position: relative;
  }

  .form-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 600px) {
  .signup-section {
    width: 100%;
  }

  .info-section {
    display: none;
  }
}
