* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #679fc2;
  --secondary-color: #000000;
  --text-color-white: #fff;
  --font-size-p: 16px;
  --font-size-h1: 35px;
  --font-size-h3: 20px;
  --font-weight: 700;
  --font-family-1: "Roboto";
  --font-family-2: "Teko";
  --padding-container: 15px 100px;
}

.container {
  padding: 15px 100px;
}
/* =========== Header */

.navbar {
  position: sticky;
  top: 0;
  max-width: 100%;
  height: 60px;
  margin-bottom: 15px;
  transition: 0.5s;
  z-index: 1000;
}

.navbar .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container a {
  text-decoration: none;
  color: #000;
}

.navbar .container .logo {
  font-family: "Teko";
  font-size: 33px;
  font-weight: 600;
}

.navbar .container .navbar-toggle {
  display: none;
  background-color: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.navbar .container .navbar-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.navbar .container ul {
  display: flex;
}

.navbar .container ul li {
  list-style: none;
  margin: 0 15px;
  position: relative;
  padding-bottom: 5px;
  overflow: hidden;
}

.navbar .container ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.navbar .container ul li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar .container ul li a {
  font-size: var(--font-size-h3);
  font-family: var(--font-family-2);
  letter-spacing: 2px;
}

.navbar .button-header {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.navbar .button-header a {
  border: 2px solid #000;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: var(--font-size-h3);
  font-weight: 500;
  font-family: var(--font-family-2);
  background-color: transparent;
}

.navbar .button-header .signup {
  background-color: var(--secondary-color);
  color: var(--text-color-white);
}

.navbar.scrolled {
  height: 80px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* =========== hero */
#hero {
  width: 100%;
}

#hero .container {
  width: 100%;
  padding: 0px 100px;
}

#hero .container .background {
  width: 100%;
  display: flex;
  justify-content: center;
}

#hero .container .background img {
  width: 80%;
}

#hero .container .content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

#hero .container .content h1 {
  font-family: var(--font-family-1);
  font-size: 60px;
  font-weight: var(--font-weight);
  text-align: center;
}

#hero .container .content p {
  font-family: var(--font-family-1);
  font-size: var(--font-size-h3);
}

#hero .mouse-scroll {
  position: relative;
  width: 25px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 40px;
  margin-top: 25px;
  animation-name: movee;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes movee {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}

#hero .mouse-scroll::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 50%;
  top: 5px;
  animation-name: scrolling;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes scrolling {
  0% {
    opacity: 0;
    transform: translate(-50%, 0px);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translate(-50%, 20px);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
}

/* ====== BitBelajar */
#bitbelajar {
  width: 100%;
  padding: 80px 0px;
}

#bitbelajar .container {
  width: 100%;
}

#bitbelajar .button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

#bitbelajar .btn {
  padding: 7px 30px;
  border-radius: 30px;
  font-family: var(--font-family-2);
  font-size: 27px;
  cursor: pointer;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
}

#bitbelajar .join {
  border: none;
  background-color: var(--secondary-color);
}

#bitbelajar .join {
  color: var(--text-color-white);
  border: 3px solid #000;
}

#bitbelajar .see {
  background-color: transparent;
  border: 3px solid #000;
}

#bitbelajar .card-container {
  width: 100%;
  margin: 40px 0px;
  display: flex;
  justify-content: space-around;
}

#bitbelajar .card {
  width: 30%;
  display: flex;
  height: 700px;
  flex-direction: column;
  justify-content: space-between;
}

#bitbelajar .card-left {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  background-color: #737373;
  display: flex;
  align-items: center;
  text-align: center;
}

#bitbelajar .card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 45px;
}

#bitbelajar .card-right {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  text-align: center;
}

#bitbelajar .card-right .card-content svg,
#bitbelajar .card-right .card-content h2,
#bitbelajar .card-right .card-content p {
  color: var(--text-color-white);
}
#bitbelajar .card-left .card-content h2,
#bitbelajar .card-left .card-content p,
#bitbelajar .card-right .card-content h2,
#bitbelajar .card-right .card-content p {
  font-family: var(--font-family-1);
}
#bitbelajar .card-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* =============== Feature */
#feature {
  width: 100%;
  margin: 30px 0px;
  padding: 80px 0px;
}

#feature .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#feature .title h1 {
  font-family: var(--font-family-1);
  font-size: var(--font-size-h1);
  text-transform: uppercase;
  text-align: center;
}

#feature .content-feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#feature .content-feature img {
  width: 80%;
}
#feature .content-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#feature .content-card ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 550px;
  flex-wrap: wrap;
}

#feature .content-card .card {
  list-style: none;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
  border: 2px solid #000;
}

#feature .content-card .forum {
  width: 140px;
  height: 140px;
}

#feature .content-card .skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 96px;
  transform: translateY(20px);
}

#feature .content-card .badge {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 100px;
  transform: translateY(-10px);
}

#feature .content-card .badge h3 {
  margin: auto;
}

#feature .content-card .share {
  width: 132px;
  height: 132px;
}

#feature .content-card .learn {
  width: 133px;
  height: 130px;
  transform: translateY(-20px);
}

#feature .content-card .forum h3,
#feature .content-card .skill h3,
#feature .content-card .badge h3,
#feature .content-card .share h3,
#feature .content-card .learn h3 {
  font-size: 16px;
  font-family: var(--font-family-1);
}

/* =============== Join Section */
#join {
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#join .container {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: #fff;
}

#join .container h1 {
  font-family: var(--font-family-1);
  font-size: 65px;
  font-weight: 700;
  text-transform: uppercase;
}

#join .container h1 span {
  color: transparent;
  -webkit-text-stroke: 3px #fff;
  letter-spacing: 5px;
}

#join .container p {
  font-family: var(--font-family-1);
  font-size: var(--font-size-h3);
  font-weight: 500;
  text-align: center;
  margin: 10px 0px;
}

#join .container a {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  font-family: var(--font-family-1);
  font-size: var(--font-size-h3);
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  margin: 20px;
  text-transform: uppercase;
  box-shadow: 0px 0px 15px 2px rgb(255, 255, 255);
}

/* ================== About */
#about {
  width: 100%;
  margin: 50px 0px;
  padding: 80px 0px;
}

#about .container {
  display: flex;
  flex-wrap: wrap;
}

#about .left {
  width: 30%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 270px;
}

#about .left h3 {
  width: 100px;
  font-size: var(--font-size-h3);
  font-weight: 500;
  font-family: var(--font-family-2);
  line-height: 20px;
}

#about .more {
  position: relative;
  margin-top: 15px;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: 500;
  font-family: var(--font-family-2);
  transition: color 0.4s;
}

#about .more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
  z-index: -1;
}

#about .more:hover {
  color: #fff;
}

#about .more:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#about .title {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 50px;
}

#about .title h1 {
  font-family: var(--font-family-2);
  font-size: 100px;
  font-weight: var(--font-weight);
  text-transform: uppercase;
}

#about .title p {
  font-family: var(--font-family-1);
  font-size: 16px;
  width: 700px;
}

#about .profile {
  width: 60%;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#about .card-profile {
  width: 250px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #000;
  border-radius: 20px;
  position: relative;
  overflow-y: hidden;
}

#about .card-img {
  width: 100%;
}

#about .card-img img {
  width: 100%;
}

#about .card-text {
  width: 100%;
  position: absolute;
  bottom: 2%;
  left: 0;
  background-color: #000;
  border-radius: 50px 50px 0px 0px;
  padding: 5px 15px 20px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  transform: translateY(100px);
  transform-origin: bottom;
  transition: transform 0.4s ease-in;
  z-index: 1;
}

#about .card-text:hover {
  transform: translateY(0px);
}

#about .card-text h2,
#about .card-text p,
#about .card-text svg {
  color: var(--text-color-white);
  font-family: "Roboto";
  margin: auto;
  font-size: 16px;
}

#about .card-text svg {
  animation-name: updown;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

#about .card-text svg {
  margin-bottom: 15px;
  cursor: pointer;
}

#about .card-text a {
  text-decoration: none;
  color: var(--secondary-color);
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  font-family: var(--font-family-2);
  font-size: 20px;
  margin-top: 10px;
}

#about .team {
  padding: 50px 0px 50px 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#about .team h1 {
  font-family: var(--font-family-2);
  font-size: 100px;
  font-weight: 700;
  line-height: 70px;
}

#about .team p {
  font-family: var(--font-family-1);
  font-size: var(--font-size-h3);
  font-style: italic;
  line-height: 10px;
}

/* ================== Contact Us */

#contact {
  width: 100%;
  padding: 80px 0px;
}

#contact .container {
  width: 100%;
  padding: 0px 100px;
}

#contact .contact-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 0px 0px;
  justify-content: center;
  position: relative;
}

#contact .contact-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact .sub-title {
  width: 190px;
  background-color: #f2f6fc;
  padding: 5px;
  display: flex;
  font-family: var(--font-family-2);
  font-size: var(--font-size-h3);
  font-weight: 500;
  align-items: center;
  gap: 5px;
}

#contact .title-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#contact .title-left h1 {
  font-size: 30px;
}

#contact .title-left h1,
#contact .title-left p {
  font-family: var(--font-family-1);
}

#contact .contact-right {
  width: 60%;
  display: flex;
  justify-content: center;
}

#contact .contact-right form {
  width: 570px;
  background-color: #f2f6fc;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

#contact .contact-right form ul {
  width: 90%;
}

#contact .contact-right form ul li {
  list-style: none;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#contact .contact-right form ul li input {
  width: 100%;
  padding: 10px 5px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 3px;
  color: #000;
  margin-top: 5px;
}

#contact .contact-right form ul li textarea {
  width: 100%;
  height: 200px;
  padding: 10px 5px;
  margin-top: 5px;
  background-color: #e1e1e1;
  border-radius: 3px;
  border: none;
  field-sizing: content;
}

#contact .contact-right form ul li button {
  background-color: #000;
  padding: 10px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
}

#contact .contact-right form ul li label,
#contact .contact-right form ul li input,
#contact .contact-right form ul li textarea,
#contact .contact-right form ul li button {
  font-family: var(--font-family-1);
}

#contact .contact-right form ul li input:focus,
#contact .contact-right form ul li textarea:focus {
  outline: none;
}

#contact .our-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(115px);
}

#contact .our-contact .kotak {
  padding: 15px;
  display: flex;
  gap: 5px;
  border-radius: 10px;
  background-color: #f2f6fc;
}

#contact .text-contact h3 {
  font-family: var(--font-family-2);
  font-size: var(--font-size-h3);
}

#contact .text-contact p {
  font-family: var(--font-family-1);
  font-size: var(--font-size-p);
}

#contact .team {
  margin-left: 50px;
}

/* ======================== Footer  */

footer {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

footer .sub-our {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0px 30px;
  margin-bottom: 50px;
}

footer .sub-title-join {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer .sub-title-join h2 {
  font-family: var(--font-family-2);
  font-size: 40px;
  color: #fff;
}

footer .sub-title-join p {
  font-family: var(--font-family-1);
  color: #fff;
}

footer .btn-sub form {
  width: 500px;
  position: relative;
  overflow: hidden;
}

footer .btn-sub form input {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-family: var(--font-family-1);
  background-color: #f2f6fc;
}

footer .btn-sub form input:focus {
  outline: none;
}

footer .btn-sub form button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #000;
  color: #f2f6fc;
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--font-family-2);
  font-size: 26px;
  padding: 5px 40px;
  text-transform: uppercase;
  border: none;
}

footer .social-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0px 30px;
  margin-bottom: 30px;
}

footer .sub-title-bitbelajar {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 50px;
}
footer .sub-title-bitbelajar h2 {
  font-family: var(--font-family-2);
  font-size: 30px;
}

footer .sub-title-bitbelajar p {
  font-family: var(--font-family-1);
}

footer .sub-title-bitbelajar h2,
footer .sub-title-bitbelajar p {
  color: #fff;
}

footer .sub-social {
  display: flex;
  flex-direction: column;
}

footer .sub-social h2 {
  font-family: var(--font-family-2);
  font-size: 25px;
  color: #fff;
}

footer .sub-social ul {
  display: flex;
}

footer .sub-social ul li {
  list-style: none;
  margin: 10px 5px;
}

footer .sub-social ul li a {
  text-decoration: none;
  color: #fff;
}

footer .copyright {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-family: var(--font-family-2);
  font-size: 20px;
  gap: 5px;
}
